<form method="POST" action="/add">
	<input type="text" name="name" id="name" placeholder="Enter Name">
	<br><br>
	<input type="text" name="address" id="address" placeholder="Enter Address">
	<br><br>
	<input type="submit" value="Submit">
</form>